<footer class="container text-center">
    <div class="row">
        <div class="col-xs-12 hidden-xs">
            <a href="#/home">Home</a> |
            <a href="#/search">Search</a> |
            <a href="javascript:void(0)">About Us</a> |
            <a href="javascript:void(0)">Terms of Service</a>
        </div>
        <div class="col-xs-12 visible-xs">
            <a href="#/home">Home</a> |
            <a href="#/search">Search</a> |
            <a href="javascript:void(0)">About Us</a> |
            <a href="javascript:void(0)">Terms</a>
        </div>
    </div>
</footer>