<form name="searchForm" novalidate>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="row">
                <div class="col-md-12 col-sm-6">
                    <div class="form-group" ng-class="{'has-error': searchForm.title.$invalid && !searchForm.title.$pristine}">
                        <label for="product-title-input">Product</label>
                        <input id="product-title-input" name="title" type="text" class="form-control" placeholder="Product title"
                               ng-model="ctrl.searchParams.title" ng-minlength="3">
                        <p ng-show="searchForm.title.$invalid && !searchForm.title.$pristine" class="help-block">
                            Please enter at least 3 characters
                        </p>
                    </div>
                </div>
                <div class="col-md-12 col-sm-6">
                    <div class="form-group">
                        <label for="product-category-select">Category</label>
                        <select id="product-category-select" name="category" class="form-control"
                                ng-model="ctrl.searchParams.category">
                            <option value="456">Electronics</option>
                            <option value="789">Books</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="form-group">
                <label for="product-price-div">Current Price</label>
                <div class="row" id="product-price-div">
                    <div class="col-xs-6">
                        <input id="product-price-min-input" type="text" class="form-control"
                               ng-model="ctrl.searchParams.minPrice">
                    </div>
                    <div class="col-xs-6">
                        <input id="product-price-max-input" type="text" class="form-control"
                               ng-model="ctrl.searchParams.maxPrice">
                    </div>
                    <div class="col-xs-12 text-center">
                        <br>
                        <auction-price-range min-price="100" max-price="1500"
                                             low-price="ctrl.searchParams.minPrice"
                                             high-price="ctrl.searchParams.maxPrice">
                        </auction-price-range>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="form-group" ng-class="{'has-error': searchForm.maxCloseDate.$invalid && !searchForm.maxCloseDate.$pristine}">
                <label for="max-auction-close-date-input">Max Auction Close Date</label>
                <input id="max-auction-close-date-input" name="maxCloseDate" type="date" class="form-control" value="2014-01-01"
                        ng-model="ctrl.searchParams.maxCloseDate" future-date>
                <p ng-show="searchForm.maxCloseDate.$invalid && !searchForm.maxCloseDate.$pristine" class="help-block">
                    Please enter today or future date
                </p>
            </div>
            <div class="row">
                <div class="form-group" ng-class="{'has-error': searchForm.numOfBids.$invalid && !searchForm.numOfBids.$pristine}">
                    <br>
                    <div class="col-xs-8">
                        <label for="number-of-bids-input">Number of Bids</label>
                    </div>
                    <div class="col-xs-4">
                        <input id="number-of-bids-input" name="numOfBids" type="number" class="form-control"
                               ng-model="ctrl.searchParams.numOfBids" min="0">
                    </div>
                    <p ng-show="searchForm.numOfBids.$invalid && !searchForm.numOfBids.$pristine" class="help-block">
                        Please enter a positive value
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <button class="form-control btn-info" ng-click="ctrl.search()">Find now</button>
        </div>
    </div>
</form>