<!--
 Use this view to render search results page.
 -->
<div id="search-results-container" class="container">

    <div class="row">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="#/home">Home</a></li>
            <li class="active">Search results</li>
        </ol>
        <!-- / Breadcrumb -->

        <!-- Search params -->
        <div class="row">

            <div class="col-md-4 col-sm-12">
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <div class="form-group">
                            <label for="product-title-input">Product</label>
                            <input id="product-title-input" type="text" class="form-control" placeholder="Product title">
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6">
                        <div class="form-group">
                            <label for="product-category-select">Category</label>
                            <select id="product-category-select" name="category" class="form-control">
                                <option value="456">Electronics</option>
                                <option value="789">Books</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="product-price-div">Current Price</label>
                    <div class="row" id="product-price-div">
                        <div class="col-xs-6">
                            <input id="product-price-min-input" type="text" class="form-control" placeholder="1000$">
                        </div>
                        <div class="col-xs-6">
                            <input id="product-price-max-input" type="text" class="form-control" placeholder="1500$">
                        </div>
                        <div class="col-xs-12 text-center">
                            <br>
                            <br>
                            <input type="text" id="product-price-slider" value="" class="span2" data-slider-min="0"
                                   data-slider-max="10000" data-slider-step="5" data-slider-value="[1000,9000]"
                                   data-slider-handle="triangle" data-slider-tooltip="hide" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="max-auction-close-date-input">Max Auction Close Date</label>
                    <input id="max-auction-close-date-input" type="date" class="form-control" value="2014-01-01">
                </div>
                <div class="row">
                    <div class="form-group">
                        <br>
                        <div class="col-xs-9">
                            <label for="number-of-bids-input" style="width:auto">Number of Bids</label>
                        </div>
                        <div class="col-xs-3">
                            <input id="number-of-bids-input" type="number" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <button class="form-control btn-info">Find now</button>
            </div>
        </div>
        <!-- / Search params -->
        <hr>
        <!-- Search results -->
        <div class="row">
            <div class="col-md-6" ng-repeat="item in model.searchProductItems">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="javascript:void(0)"><img ng-src="images/{{ item.thumb }}" alt="" class="img-responsive"></a>
                    </div>
                    <div class="col-xs-6">
                        <h2><a href="{{ '#/product/' + item.id }}">{{ item.title }}</a></h2>
                        <p><b>Item's description:</b>{{ item.description }}</p>
                    </div>
                </div>
                <div class="row text-left">
                    <div class="col-sm-4 col-sm-push-8">
                        <div class="row">
                            <div class="col-sm-12 col-xs-6"><span class="badge">$ {{ item.price }}</span></div>
                            <div class="col-sm-12 col-xs-6">Current Price</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-12 col-xs-6"><span class="glyphicon glyphicon-eye-open">&nbsp</span><span class=" badge auction-info"> {{ item.watchers }}</span></div>
                            <div class="col-sm-12 col-xs-6">Watchers</div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-pull-8">
                        <div class="row">
                            <div class="col-sm-12 col-xs-6"><span class="badge auction-info">{{ item.timeleft + 'h left' }}</span></div>
                            <div class="col-sm-12 col-xs-6">Today 15:23</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Search results -->
    </div>

</div>
<script type="text/javascript">$("#product-price-slider").slider({});</script>