<!--
 Use this view to render search results page.
 -->
<div id="search-results-container" class="container">

    <div class="row">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="#/home">Home</a></li>
            <li class="active">Search results</li>
        </ol>
        <!-- / Breadcrumb -->

        <!-- Search params -->
        <search-form ng-controller="SearchFormController as ctrl"></search-form>
        <!-- / Search params -->
        <hr>
        <!-- Search results -->
        <div class="row">
            <div class="col-md-6" ng-repeat="item in ctrl.searchProductItems">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="javascript:void(0)"><img ng-src="images/{{ item.thumb }}" alt="" class="img-responsive"></a>
                    </div>
                    <div class="col-xs-6">
                        <h2><a href="{{ '#/product/' + item.id }}">{{ item.title }}</a></h2>
                        <p><b>Item's description:</b>{{ item.description }}</p>
                    </div>
                </div>
                <div class="row text-left">
                    <div class="col-sm-4 col-sm-push-8">
                        <div class="row">
                            <div class="col-sm-12 col-xs-6"><span class="badge">$ {{ item.price }}</span></div>
                            <div class="col-sm-12 col-xs-6">Current Price</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-12 col-xs-6"><span class="glyphicon glyphicon-eye-open">&nbsp</span><span class=" badge auction-info"> {{ item.watchers }}</span></div>
                            <div class="col-sm-12 col-xs-6">Watchers</div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-pull-8">
                        <div class="row">
                            <div class="col-sm-12 col-xs-6"><span class="badge auction-info">{{ item.timeleft + 'h left' }}</span></div>
                            <div class="col-sm-12 col-xs-6">Today 15:23</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Search results -->
    </div>

</div>